body {
    font-family: Arial, sans-serif;
    background-color: rgb(227, 224, 224);
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.chat-container {
    background: white;
    border-radius: 12px;
    padding: 20px;
    height: 500px;
    overflow-y: auto;

    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin-bottom: 5px;
}

.header p {
    color: gray;
}

.user-message {
    text-align: right;
    margin: 10px 0;
}

.user-bubble {
    display: inline-block;
    padding: 12px;
    border-radius: 18px;
    max-width: 70%;

    background-color: #dbeafe;

    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.bot-message {
    text-align: left;
    margin: 10px 0;
}

.bot-bubble {
    display: inline-block;
    padding: 12px;
    border-radius: 18px;
    max-width: 70%;

    background-color: #f3f4f6;

    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

form {
    margin-top: 15px;
    display: flex;
}

input[type="text"] {
    flex: 1;
    padding: 12px;
}

button {
    padding: 12px 18px;

    border: none;
    border-radius: 8px;

    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: gray;
}